/* This is an example of using Sass, otherwise plain CSS works too*/
@import 'header';
@import 'buttons';
@import 'cards';
@import "../../node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "../../node_modules/@glidejs/glide/src/assets/sass/glide.theme";

$primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
$white-smoke: whitesmoke;
$steel: rgb(124, 137, 196);

html, body {
  height: 100%;
}

li {
  list-style-type: none;
  padding: 3%;
  border-radius: 5px;
}


input[type="radio"] {
  display: none;
}
// Header
header {
  @include header($white-smoke);
  background-color: $steel;
  left: 0;
}

header h1 {
  grid-area: 1 / 1 / 1 / 2;
  text-align: center;
}

#profileIcon {
  @include header-button(url('../user3.svg'));
  grid-area: 2 / 1 / 4 / 1;
}

#calendarIcon {
  @include header-button(none);
  grid-area: 1 / 3 / 2 / 4;
  width: 85%;
}

li img {
  @extend .rounded-top;
}

.glide__slide article {
  @extend .bottom-card;
}

.current-room-container {
  @extend .featured-card;
}

.current-room-container {
  @extend .rounded-top;
}

.see-more {
  @include card-button($steel, $white-smoke);
}

.dropdown-content {
  visibility: hidden;
  display: block;
  grid-area: 3 / 1 / 3 / 2;
  position: fixed;
  margin: 31% 0 0 5%;
  padding-right: 5%;
  padding-bottom: 1%;
  background-color: rgb(179, 237, 255);
  border-radius: 5px;
  overflow-y: scroll;
  height: 25%;
}

.dropdown-content > button,
.total-spent {
  text-align: center;
  background-color: transparent;
  border: none;
  margin: 4%;
  font-size: 1em;
}

.bottom-container ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  overflow-y: hidden;
  padding: 0;
}

input[type="radio"]:checked + label {
  border-bottom: 1px solid blue;
}

.book-btn {
  align-self: flex-start;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid rgba(99, 63, 226, 0.63);
  margin-left: -20%;
}

.glide__arrow {
  background-image: url('../images/next.svg');
  background-repeat: no-repeat;
  border: none;
  background-size:contain;
  height: 30px;
  width: 30px;
}

.glide__arrow--left {
 background-image: url('../images/left-arrow.svg');
}

.go-back {
  background-image: url('../images/return.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 3vh;
  width: 3vh;
}

select {
  grid-area: 2 / 3 / 3 / 4;
  right: 0;
  width: 85%;
  background-color: transparent;
  border: none;
}


// Desktop
@media screen and (min-width: 801px) {
  main {
    display: flex;
    flex-flow: row;
    height: 100%;
    margin-top: 10%;
  }

  .dropdown-content {
    margin: 6%;
  }

  .glide {
    align-self: flex-end;
    height: 60%;
  }

  .room-container {
    padding: 0;
    margin: 0;
  }

  .glide__slide {
    width: 25%;
    margin: 5%;
    padding: 0;
  }

  .glide__slide img,
  .glide__slide article {
    width: 30vh;
  }

  .glide__bullets {
    bottom: 0;
  }

  .glide__bullet {
    align-self: flex-end;
    background-color: $steel;
  }

  .glide__bullet:hover, .glide__bullet:focus {
    background-color: whitesmoke;
  }

  .glide__slide article {
    background-color: $steel;
    margin: 0;
  }

  .bottom-container {
    width: 55%;
    height: 60%;
    display: flex;
  }

  .book-btn {
    align-self: flex-end;
  }

  main form {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    padding: 5%;
    width: 15%;
    height: 50%;
  }

  .bottom-container li {
    margin: 0 5% 0 5%;
  }

  .bottom-container ul {
    white-space: nowrap;
  }
}
// tablet
@media screen and (max-width: 800px) {
  
  main {
    height: 100%;
    display: flex;
    flex-flow: column;
  }

  .dropdown-content {
    margin-top: 15%;
  }

  .current-room-container {
    align-self: center;
    background-color: $steel;
    width: 90%;
    height: 28vh;
    border-radius: 10px;
    text-align: center;
  }

  .current-room-container ul {
    margin-top: -5%;
    display: flex;
  }

  .book-btn {
    align-self: flex-end;
  }

  .bottom-container {
    display: flex;
  }

 main {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
  }

  .glide__slide article {
    width: 20vh;
    background-color: $steel;
  }

  .glide__slide img {
    width: 20vh;
  }

  .glide__slide {
    height: 40vh;
    width: 25%;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .glide__slides {
    height: 50vh;
    align-self: flex-start;
  }


}
// Mobile



@media screen and (max-width: 500px) {

  body {
    display: flex;
    flex-flow: column;
  }

  header {
    grid-template: 1fr / 1fr 1fr 1fr;
    font-size: 2vh;
  }

  #profileIcon {
    grid-area: 1 / 2 / 1 / 3;
    height: 50%;
    margin-top: 25%;
  }

  #calendarIcon {
    background-image: url('../calendar-date.svg');
    color: transparent;
    background-size: contain;
    background-color: transparent;
    font-size: 50vh;
  }

  main {
    height: 100%;
    display: flex;
    flex-flow: column;
  }

  .glide__slide article {
    width: 20vh;
    background-color: $steel;
  }

  .glide__slide img {
    width: 20vh;
  }

  .glide__slide {
    height: 10vh;
    width: 25%;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .glide__slides {
    height: 50vh;
  }

  .glide__arrow {
    background-image: none;
  }

  .bottom-container {
    align-self: flex-end;
    display: flex;
    flex-flow: column;
    width: 90%;
  }

  .current-room-container {
    width: 90%;
    margin-top: 50%;
    height: 30vh;
    align-self: center;
    text-align: center;
    flex-flow: row;
  }

  .glide {
    height: 50vh;
    align-self: flex-end;
  }

  .current-room-container > img {
    width: 30%;
    background-size: contain;
  }

  .current-room-container ul {
    margin-top: initial;
    display: block;
  }

  .bottom-container li {
    padding: 0;
  }

  .bottom-container ul {
    width: 100%;
  }


  .bottom-container {
    display: initial;
  }
}

.visible {
  visibility: visible;
}

.hidden {
  display: none;
}

.vis-hidden {
  visibility: hidden;
}