/* This is an example of using Sass, otherwise plain CSS works too*/
@import '_header';
@import 'buttons';
@import 'cards';
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

$beige: #C6AD8F;
$grey: #425664;

* {
  color: whitesmoke;
  font-family: 'Poiret One';
}

html, body {
  background-color: whitesmoke;
  height: 100%;
}

li {
  list-style-type: none;
  padding: 3%;
  border-radius: 5px;
}


input[type="radio"] {
  display: none;
}
// Header
header {
  @include header($beige);
  left: 0;
}

header h1 {
  grid-area: 1 / 1 / 1 / 2;
  text-align: center;
  color: $grey;
}

#profileIcon {
  @include header-button(url('../images/user.png'));
  grid-area: 2 / 1 / 4 / 1;
  margin-left: 10%;
}

#calendarIcon {
  @include header-button(none);
  grid-area: 1 / 3 / 2 / 4;
  width: 85%;
}

li img {
  @extend .rounded-top;
}

.glide__slide article {
  @extend .bottom-card;
}

.current-room-container {
  @extend .featured-card;
  align-self: center;
  img {
    @extend .rounded-top;
  }
}



.see-more {
  @include card-button($grey, whitesmoke);
}

.dropdown-content {
  visibility: hidden;
  display: block;
  grid-area: 3 / 1 / 3 / 2;
  position: fixed;
  margin: 31% 0 0 5%;
  padding-right: 5%;
  padding-bottom: 1%;
  background-color: $grey;
  border-radius: 5px;
  overflow-y: scroll;
  height: 25%;
  color: whitesmoke;
}

.dropdown-content button,
.total-spent {
  text-align: center;
  background-color: transparent;
  border: none;
  margin: 4%;
  font-size: 1em;
}

.dropdown-content h1 {
  color: white;
}

.bottom-container ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  overflow-y: hidden;
  padding: 0;
}

.book-btn {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid whitesmoke;
  margin-left: -20%;
}

.error {
  position: fixed;
  align-self: flex-end;  
}

input {
  color: $grey;
}

.error span img {
  height: 10px;
  width: 10px;
}

.glide__arrow {
  background-image: url('../images/next.svg');
  background-repeat: no-repeat;
  border: none;
  background-size:contain;
  height: 30px;
  width: 30px;
}

.glide__arrow--left {
 background-image: url('../images/left-arrow.svg');
}

.go-back {
  background-image: url('../images/return.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 3vh;
  width: 3vh;
}

select {
  grid-area: 2 / 3 / 3 / 4;
  right: 0;
  width: 85%;
  background-color: transparent;
  border: none;
}

.log-in-page {
  @extend .dropdown-content;
  display: flex;
  visibility: visible;
}

.login {
  height: 70%;
  display: flex;
  flex-flow: column;
  padding-left: 10%;
  justify-content: space-around;
  align-content: center;
  button {
    @include card-button($grey, whitesmoke);
  }
}

// Desktop
@media screen and (min-width: 801px) {
  main {
    display: flex;
    flex-flow: row;
    height: 100%;
    margin-top: 10%;
  }

  .dropdown-content {
    margin: 6%;
  }

  .glide {
    align-self: flex-end;
    height: 60%;
  }

  .room-container {
    padding: 0;
    margin: 0;
  }

  .glide__slide {
    width: 15%;
    margin: 5%;
    height: 100%;
    padding: 0;
    opacity: .91;
    &:hover {
      opacity: 1;
      width: 27%;
      height: 103%;
    }
    img, article {
      width: 75%;
    }
    article {
      background-color: $grey;
      margin: 0;
      height: 100%;
    }
  }

  .bottom-container {
    width: 55%;
    height: 60%;
    display: flex;
    li {
      margin: 0 5% 0 5%;
    }
    ul {
      white-space: nowrap;
    }
  }

  .book-btn {
    align-self: flex-end;
  }

}
// tablet
@media screen and (max-width: 800px) {
  
  main {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
  }

  .dropdown-content {
    margin-top: 15%;
  }

  #calendarIcon {
    font-size: 9vh;
  }

  .current-room-container {
    align-self: center;
    background-color: transparent;
    width: 90%;
    height: 20vh;
    text-align: center;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    ul {
      margin-right: 5%;
      height: 20vh;
      width: 30%;
      background-color: $beige;
      align-self: center;
    }
    img {
      height: 20vh;
      border-top-right-radius: 0;
    }
  }

  .book-btn {
    height: 4vh;
    align-self: flex-end;
    background-color: $grey;
  }

  .bottom-container {
    display: flex;
  }

  .number {
    color: white;
  }

  .glide__slide {
    height: 40vh;
    width: 25%;
    display: flex;
    flex-flow: column;
    align-items: center;
    img, article {
      width: 20vh;
    }
    article {
      background-color: $grey;
    }
  }

  .glide__slides {
    height: 50vh;
    align-self: flex-start;
  }


}
// Mobile



@media screen and (max-width: 500px) {

  body {
    display: flex;
    flex-flow: column;
  }

  header {
    grid-template: 1fr / 1fr 1fr 1fr;
    font-size: 2vh;
  }

  #profileIcon {
    grid-area: 1 / 2 / 1 / 3;
    height: 50%;
    margin-top: 25%;
  }

  #calendarIcon {
    font-size: 10vh;
  }

  .glide__slide {
    article, img {
      width: 20vh;
      padding-bottom: 1%;
    }
    article {
      height: 100%;
    }
  }

  .glide__slides {
    height: 50vh;
  }

  .glide__arrow {
    background-image: none;
  }

  .bottom-container {
    align-self: flex-end;
    flex-flow: column;
    width: 90%;
    li {
      padding: 0;
    }
  }

  .current-room-container {
    height: 18vh;
    img {
      height: 15vh;
    }
    ul {
      height: 15vh;
    }
  }

  .glide {
    height: 50vh;
    align-self: flex-end;
  }

  .book-btn {
    height: 25%;
    align-self: flex-end;
  }

}

.visible {
  visibility: visible;
}

.hidden {
  display: none;
}

.vis-hidden {
  visibility: hidden;
}